<a href="https://colab.research.google.com/github/lovakumar12/python_list/blob/main/Regular_expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Common Escape Characters in Python

1. **Newline (`\n`)**
    - Inserts a new line in the text.
    - Example: `"Hello\nWorld!"` will be printed as:

In [ ]:
print("this is my\npython class")

this is my
python class

In [ ]:
print("this is my\npython clas and\n i will cover each and everytopic in that playlsit")

this is my
python clas and
 i will cover each and everytopic in that playlsit

In [ ]:
print(r"this is my\npython class")

this is my\npython class

2. **Tab (`\t`)**
    - Inserts a horizontal tab space.
    - Example: `"Hello\tWorld!"` will be printed as:

In [ ]:
print("this is my\tpython clas and\t i will cover each and everytopic in that playlsit")

this is my	python clas and	 i will cover each and everytopic in that playlsit

3. **Backslash (`\\`)**
    - Inserts a backslash character (`\`).
    - Example: `"This is a backslash: \\"` will be printed as:

In [ ]:
print("this is my\\python clas and\\i will cover each and everytopic in that playlsit \\")

this is my\python clas and\i will cover each and everytopic in that playlsit \

4. **Single Quote (`\'`)**
    - Inserts a single quote character.
    - Example: `"It\'s a sunny day"` will be printed as:

In [ ]:
print("this is mypython 'clas and i will cover' each and everytopic in that playlsit")

this is mypython 'clas and i will cover' each and everytopic in that playlsit

5. **Double Quote (`\"`)**
    - Inserts a double quote character.
    - Example: `"He said, \"Hello!\""` will be printed as:

In [ ]:
print("this is my \" python clas and \" i will cover each and everytopic in that playlsit")

this is my " python clas and " i will cover each and everytopic in that playlsit

6. **Carriage Return (`\r`)**
    - Moves the cursor to the beginning of the line without advancing to the next line.
    - Example: `"Hello\rWorld!"` will overwrite "Hello" with "World!", so it will be printed as:

In [ ]:
print("this is my python clas andi will cover each and \reverytopic in that playlsit")

everytopic in that playlsit

In [ ]:
print("Hello, World!\rHi")

Hi

7. **ackspace (`\b`)**
    - Moves the cursor one position back (deletes the previous character).
    - Example: `"Hello\b World!"` will be printed as:

In [ ]:
print("this is my python clas and\b i will cover each and everytopic in that playlsit")

this is my python clas and i will cover each and everytopic in that playlsit

8. **Form Feed (`\f`)**
    - Moves the cursor to the next line and to the beginning of the line.
    - Example: `"Hello\fWorld!"` will be printed as:

In [ ]:
print("this is my python clas and\f i will cover each and everytopic in that playlsit")

this is my python clas and i will cover each and everytopic in that playlsit

# Regex

# import re

##.2 **Special Sequences**

- **`\d`**: Matches any digit (0-9).
- **`\D`**: Matches any non-digit character.
- **`\w`**: Matches any alphanumeric character plus underscore.
- **`\W`**: Matches any non-alphanumeric character.
- **`\s`**: Matches any whitespace character.
- **`\S`**: Matches any non-whitespace character.

In [ ]:
sent="James bond 007 wants to learn NLP"

# 1. re.match()
The re.match() function checks for a match only at the beginning of the string.

In [ ]:
import re

pattern = r"\d"  # Matches one or more digits
string = "007 james bond wants to learn NLP"

matching=re.match(pattern , string)
matching.group()

'0'

In [ ]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "007 james bond wants to learn NLP"

matching=re.match(pattern , string)
matching.group()

'007'

In [ ]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc456"

matching=re.match(pattern , string)
matching.group()

AttributeError: 'NoneType' object has no attribute 'group'

# 2. re.search()
The re.search() function scans through the string and returns the first match it finds.

In [ ]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc1234abc456"
search = re.search(pattern, string)
search.group()

'abc1234abc456'

# 3. re.findall()
The re.findall() function returns all matches of the pattern in the string as a list.

In [ ]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc123def456ghi789"
match = re.findall(pattern, string)
match

['123', '456', '789']

In [ ]:
 #

# 4. re.finditer()
The re.finditer() function returns an iterator yielding match objects for each match.

In [ ]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc123def456ghi789"

match = re.finditer(pattern, string )
for i in match:
    print(i.group() , i.span())

123 (3, 6)
456 (9, 12)
789 (15, 18)

# 5. re.sub()
The re.sub() function replaces all occurrences of the pattern with a specified string.

In [ ]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc123def456ghi789"

new= re.sub(pattern , "#", string)
new

'abc#def#ghi#'

# 6. re.split()
The re.split() function splits the string at each occurrence of the pattern.

In [ ]:
import re

pattern = r"\d+"  # Matches one or more digits
string = "abc123def456ghi789"
splits = re.split(pattern , string )
splits

['abc', 'def', 'ghi', '']

# ### 4. **Common Regex Patterns**

- **Email Validation**: `r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"`
- **URL Validation**: `r"http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*(),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+"`
- **IP Address Validation**: `r"\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b"`

# 5.1 Extracting All Emails from a Text

In [ ]:
text = "Please contact us at support@example.com or sales@example.co.uk. or  princekatiyar9393@gmail.com"
email_pattern = r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+"
email=re.findall(email_pattern,text)
email

['support@example.com', 'sales@example.co.uk.', 'princekatiyar9393@gmail.com']

# 5.2 Replacing All Digits with a Character

In [ ]:
number = "23-2-943 this is my phone enumber "
re.sub(r"\d","*",number)

'**-*-*** this is my phone enumber '

# 5.3 Splitting a String by Multiple Delimiters

In [ ]:

text = "apple, orange; banana|grape"
split_pattern = r"[,;|]"
fruits = re.split(split_pattern, text )
fruits

['apple', ' orange', ' banana', 'grape']

**Problem: NLP Text Cleaning and Extraction**

You are tasked with cleaning a text dataset to prepare it for NLP tasks. Your goal is to:

Extract all email addresses from the text.
Remove all numbers (to prevent numeric features from skewing the NLP analysis).
Extract all hashtags (for sentiment analysis and trending topics).
Normalize whitespace to ensure there's no extra spaces between words.
Remove any HTML tags that may be included in the text (from web scraping).

In [ ]:
import re

def clean_text(text):
    # Step 1: Extract all email addresses
    emails = re.findall(r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}', text)



    # Step 2: Extract all hashtags
    hashtags = re.findall(r'#\w+', text)
     # Step 3: Remove all numbers
    text_no_numbers = re.sub(r'\d+', '', text)

    # Step 4: Normalize whitespace (remove extra spaces)
    text_normalized = re.sub(r'\s+', ' ', text_no_numbers).strip()

    # Step 5: Remove any HTML tags
    text_no_html = re.sub(r'<.*?>', '', text_normalized)

    return {
        "emails": emails,
        "hashtags": hashtags,
        "clean_text": text_no_html
    }

# Test case
text = """
Hello world! Contact us at info@example.com or support123@company.org. Follow us on social media: #AI #MachineLearning.
Visit <a href="http://example.com">our website</a> for more details. This is a test with number 1234.
"""

result = clean_text(text)
print("Emails Found:", result['emails'])          # Output: ['info@example.com', 'support123@company.org']
print("Hashtags Found:", result['hashtags'])      # Output: ['#AI', '#MachineLearning']
print("Cleaned Text:", result['clean_text'])      # Output: "Hello world! Contact us at or Follow us on social media: AI MachineLearning. Visit our website for more details. This is a test with number."

Emails Found: ['info@example.com', 'support123@company.org']
Hashtags Found: ['#AI', '#MachineLearning']
Cleaned Text: Hello world! Contact us at info@example.com or support@company.org. Follow us on social media: #AI #MachineLearning. Visit our website for more details. This is a test with number .

# text extraction in required format

In [ ]:
import re
from collections import Counter

# Sample text
text = """
John Doe (john.doe@example.com) has scheduled a meeting on 12/01/2025 at 3:00 PM.
For inquiries, contact him at (123) 456-7890 or via his alternate email: johnny.d@example.org.
Another meeting is scheduled on 01-15-2025. Jane's email is jane_smith@sample.net, and her phone is 987-654-3210.
"""

# Define regular expression patterns
email_pattern = r"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
phone_pattern = r"\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}"
date_pattern = r"\b\d{1,2}[-/]\d{1,2}[-/]\d{2,4}\b"

# Extract entities using regular expressions
emails = re.findall(email_pattern, text)
phone_numbers = re.findall(phone_pattern, text)
dates = re.findall(date_pattern, text)

# Analyze text: word frequency (NLP preprocessing step)
words = re.findall(r"\b\w+\b", text.lower())  # Tokenize text into words
word_freq = Counter(words)  # Get word frequencies

# Output the results
print("Extracted Emails:")
print(emails)

print("\nExtracted Phone Numbers:")
print(phone_numbers)

print("\nExtracted Dates:")
print(dates)

print("\nWord Frequency Analysis:")
print(word_freq.most_common(10))  # Show top 10 frequent words

Extracted Emails:
['john.doe@example.com', 'johnny.d@example.org', 'jane_smith@sample.net']

Extracted Phone Numbers:
['(123) 456-7890', '987-654-3210']

Extracted Dates:
['12/01/2025', '01-15-2025']

Word Frequency Analysis:
[('is', 3), ('john', 2), ('doe', 2), ('example', 2), ('scheduled', 2), ('meeting', 2), ('on', 2), ('01', 2), ('2025', 2), ('at', 2)]